<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Computelematic</title>
  <!--favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="src/images/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="src/images/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="src/images/favicon/favicon-16x16.png" />
  <link rel="manifest" href="src/images/favicon/site.webmanifest" />
  <link rel="mask-icon" href="src/images/favicon/safari-pinned-tab.svg" color="#5bbad5" />
  <link rel="shortcut icon" href="src/images/favicon/cmt.ico" />
  <meta name="msapplication-TileColor" content="#39caf0" />
  <meta name="msapplication-TileImage" content="src/images/favicon/mstile-144x144.png" />
  <meta name="msapplication-config" content="src/images/favicon/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
  <!--Fuentes de pagina-->
  <!--Fuente uno-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet" />
  <!--Fuente dos-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet" />
  <!-- Iconos y estilos-->
  <link rel="stylesheet" href="src/libs/bootstrap-icons/bootstrap-icons.css" />
  <link rel="stylesheet" href="src/css/estilos.css" />
  <!--estilos.css siempre al final de head-->
</head>

<body>
  <!--INICIO ENCABEZADO-->
  <header class="encabezado bg-dark vh-100 py-2 py-md-4 position-relative fondoCoverHeader">
    <!--Inicio barra de navegacion-->
    <nav class="navbar navbar-expand-md navbar-dark z-index-1">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="src/images/Logos/LogoComputelematic.png" alt="Logo de empresa"
            width="80" height="auto" /></a>

        <a href="#" class="inicioSesion ms-auto me-2 d-md-none border-0">
          <i class="bi bi-person-fill display-4 text-white"></i>
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="bi bi-list display-2"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Computelematic</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Productos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Tecnología</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Insumos</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Servicios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Soporte Técnico</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Programación</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Marketing</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Diseño</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li>
          </ul>
        </div>
        <a href="#" class="d-none d-md-block btn btn-outline-light">Iniciar sesión</a>
      </div>
    </nav>
    <!--Final barra de navegacion-->

    <section class="position-absolute top-50 start-50 translate-middle w-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 text-center text-white">
            <h2 class="display-4 fw-bold fontPersonalTitleHeader">
              COMPUTELEMATIC
            </h2>
            <p class="my-4 fontPersonalDescHeader">
              "Un Mejor Futuro en Diseño y Tecnología"
            </p>
            <div class="d-grid gap-2 d-sm-block">
              <a href="#" class="btn btn-primary me-sm-2 text-white">Cotizar producto o servicio</a>
              <a href="#ancProdServ" class="btn btn-outline-light">Más informacíón</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <!--FINAL ENCABEZADO-->

  <!--Inicio Objetivos generales Nuestro objetivo es materializar tus ideas y proyectos-->

  <main class="objetivosGenerales py-5">
    <div class="container">
      <header class="text-center mb-5">
        <h1 class="display-5 fw-bold tituloConLinea">
          Nuestro objetivo es materializar tus ideas y proyectos
        </h1>

        <p class="my-0 text-secondary">
          Especializados en brindarte soluciones oportunas a tus necesidades,
          contando con un amplio portafolio de productos y servicios para tu
          empresa u hogar
        </p>
      </header>
      <div class="row text-center">
        <div class="col-12 col-md-4 mb-3">
          <article class="objetivosGeneralesItem border rounded-3 px-4 py-5 h-100">
            <img src="" alt="" width="auto" height="70" class="bi bi-pc-display-horizontal display-2" />
            <h2 class="fw-bold my-3">Servicios y Tecnología</h2>
            <p>
              Te brindamos productos y servicios para que cuentes con
              herramientas eficaces que se adapten a tus requerimientos
            </p>
            <a href="#" class="fw-bold">Más información</a>
          </article>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <article class="objetivosGeneralesItem border rounded-3 px-4 py-5 h-100">
            <img src="" alt="" width="auto" height="70" class="bi bi-pencil-square display-2" />
            <h2 class="fw-bold my-3">Diseño y Marketing</h2>
            <p>
              Ayudamos a impulsar tu idea, y plasmarla en los diferentes
              medios de comunicación según tu objetivo
            </p>
            <a href="#" class="fw-bold">Más información</a>
          </article>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <article class="objetivosGeneralesItem border rounded-3 px-4 py-5 h-100">
            <img src="" alt="" width="auto" height="70" class="bi bi-headset display-2" />
            <h2 class="fw-bold my-3">Atención al cliente</h2>
            <p>
              Tu atención y un trato digno, siempre será primordial; nada
              mejor que tengas información clara y oportuna por parte de
              nuestro gran equipo
            </p>
            <a href="#" class="fw-bold">Más información</a>
          </article>
        </div>
      </div>
    </div>
  </main>
  <!--Final Objetivos generales Nuestro objetivo es materializar tus ideas y proyectos-->

  <!--Inicio seccion boletin de Ofertas-->
  <section class="boletinOfertas py-5 text-white fondoCoverBoletin text-center">
    <div class="container py-lg-4">
      <header class="mb-5">
        <h1 class="display-5 fw-bold tituloConLinea">
          Descubre las mejores ofertas y promociones del sector tecnológico y
          digital
        </h1>
      </header>

      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-7 col-xxl-6 lead mb-4">
          <p>
            ¿Quisieras recibir nuestro boletín actualizado?
            <br />
            La información ingresada por medio de este formulario solamente se
            utilizará para envío de boletines sobre ofertas y promociones de
            la compañía
          </p>
        </div>

        <div class="col-12 col-md-8 col-xl-7">
          <form action="https://formsubmit.co/info@computelematic.com" class="formBoletinOfertas" method="POST">
            <div class="input-group mb-3">
              <input type="email" name="email" id="email" class="form-control"
                placeholder="Ingresa tu correo electrónico..." aria-label="Ingresa tu correo electrónico..."
                aria-describedby="btnEnvioSuscripcion" />
              <input type="hidden" name="_captcha" value="false" />
              <input type="hidden" name="_subject" value="Nueva suscripción a boletin de ofertas" />
              <input type="hidden" name="_cc" value="jh.045@hotmail.com" />
              <input type="hidden" name="_autoresponse"
                value="Gracias por suscribirte, pronto te enviaremos nuestras ofertas" />
              <input type="hidden" name="_next" value="https://computelematic.com/pages/responseSuscOfert.html" />
              <button class="btn btn-primary px-2 py-2 px-lg-5 py-lg-3" type="submit" id="btnEnvioSuscripcion">
                <i class="bi bi-send fs-1 d-lg-none"></i>
                <span class="d-none d-lg-block">Suscribir</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--Final seccion boletin de Ofertas-->

  <!--Inicio seccion de productos y servicios-->
  <section class="productosServicios text-center pt-5">
    <div class="container">
      <header class="mb-5">
        <a name="ancProdServ">
          <h1 class="display-5 fw-bold tituloConLinea">
            Productos y Servicios de nuestra empresa
          </h1>
        </a>
      </header>
    </div>
    <div class="container-fluid p-0">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-0">
        <div id="computadores" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catComputadores.jpg" alt="Computadores" width="100%" height="auto" />
          <a href="#">
            <h3>Computadores</h3>
          </a>
        </div>
        <div id="impresoras" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catImpresoras.jpg" alt="Impresoras" width="100%" height="auto" />
          <a href="#">
            <h3>Impresoras</h3>
          </a>
        </div>
        <div id="celulares" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catCelulares.jpg" alt="Celulares" width="100%" height="auto" />
          <a href="#">
            <h3>Celulares</h3>
          </a>
        </div>
        <div id="tablets" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catTablets.jpg" alt="Tablets" width="100%" height="auto" />
          <a href="#">
            <h3>Tablets</h3>
          </a>
        </div>
        <div id="videoJuegos" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catVideojuegos.jpg" alt="Videojuegos" width="100%" height="auto" />
          <a href="#">
            <h3>Videojuegos</h3>
          </a>
        </div>
        <div id="sistemasDePuntoDeVenta" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catPuntosDeVenta.jpg" alt="Sistemas punto de venta" width="100%"
            height="auto" />
          <a href="#">
            <h3>Sistemas punto de venta</h3>
          </a>
        </div>
        <div id="camarasDeVigilancia" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catCamarasDeSeguridad.jpg" alt="Camaras de vigilancia" width="100%"
            height="auto" />
          <a href="#">
            <h3>Cámaras de vigilancia</h3>
          </a>
        </div>
        <div id="seguridadYTelecomunicaciones" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catTelecomunicaciones.jpg" alt="Seguridad y telecomunicaciones"
            width="100%" height="auto" />
          <a href="#">
            <h3>Seguridad y telecomunicaciones</h3>
          </a>
        </div>
        <div id="accesoriosDeTecnologia" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catAccesoriosTecnologia.jpg" alt="Accesorios de tecnologia" width="100%"
            height="auto" />
          <a href="#">
            <h3>Accesorios de tecnología</h3>
          </a>
        </div>
        <div id="insumosParaImpresoras" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catImsumosImpresoras.jpg" alt="Insumos para impresoras" width="100%"
            height="auto" />
          <a href="#">
            <h3>Insumos para impresoras</h3>
          </a>
        </div>
        <div id="equiposDeSublimacion" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catEquiposDeSublimacion.jpg" alt="Equipos de sublimacion" width="100%"
            height="auto" />
          <a href="#">
            <h3>Equipos de sublimación</h3>
          </a>
        </div>
        <div id="soporteTecnico" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catSoporteTecnico.jpg" alt="Soporte tecnico" width="100%"
            height="auto" />
          <a href="#">
            <h3>Soporte técnico</h3>
          </a>
        </div>
        <div id="diseñoGrafico" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catDiseñoGrafico.jpg" alt="Diseño grafico" width="100%" height="auto" />
          <a href="#">
            <h3>Diseño gráfico</h3>
          </a>
        </div>
        <div id="programacionDeSoftware" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catProgramacionDeSoftware.jpg" alt="Programación de software"
            width="100%" height="auto" />
          <a href="#">
            <h3>Programación de software</h3>
          </a>
        </div>
        <div id="marketing" class="col itemProdSer">
          <img src="src/images/secProdSerIndex/catMarketingDigital.jpg" alt="Marketing" width="100%" height="auto" />
          <a href="#">
            <h3>Marketing</h3>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--Final seccion de productos y servicios-->

  <!--Inicio pie de pagina-->
  <footer class="pieDePagina bg-dark pt-5 text-white">
    <div class="container">
      <div class="row text-center text-lg-start">
        <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
          <img src="src/images/Logos/LogoComputelematic.png" width="80" higth="auto" alt="Logo de empresa" />
          <ul class="list-unstyled my-4 fw-bold d-grid gap-2">
            <li>
              <a href="mailto:info@computelematic.com">info@computelematic.com</a>
            </li>
            <li>
              <a href="https://api.whatsapp.com/send/?phone=573237918824&text=¡Hola!, vengo del sitio web Computelematic, desearía me pueda brindar más información"
                target="_blank">(+57)323 791 8824</a>
            </li>
            <li>
              <a href="https://api.whatsapp.com/send/?phone=573104278515&text=¡Hola!, vengo del sitio web Computelematic, desearía me pueda brindar más información"
                target="_blank">(+57)310 427 8515</a>
            </li>
          </ul>
          <ul class="redesSociales list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/COMPUTELEMATIC/" target="_blank"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0 ms-lg-auto">
          <h5 class="fw-bold mb-4">Servicios</h5>
          <ul class="list-unstyled d-grid gap-2">
            <li><a href="#">Soporte técnico</a></li>
            <li><a href="#">Diseño gráfico</a></li>
            <li><a href="#">Programación</a></li>
            <li><a href="#">Marketing</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0">
          <h5 class="fw-bold mb-4">Nosotros</h5>
          <ul class="list-unstyled d-grid gap-2">
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Misión</a></li>
            <li><a href="#">Visión</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0">
          <h5 class="fw-bold mb-4">Contacto</h5>
          <ul class="list-unstyled d-grid gap-2">
            <li><a href="#">Cotización</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Foros</a></li>
            <li><a href="#">Chat</a></li>
          </ul>
        </div>
      </div>
      <p class="creditos mt-lg-4 mb-0 py-4 text-center text-muted small">
        Copyright 2023 computelematic.com. Todos los derechos reservados
      </p>
    </div>
  </footer>
  <!--Final pie de pagina-->
  <script src="src/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="src/libs/jsPage/animations.js"></script>
</body>

</html>