<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Computelematic</title>
  <!--favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
  <link rel="manifest" href="../images/favicon/site.webmanifest">
  <link rel="mask-icon" href="../images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="../images/favicon/cmt.ico">
  <meta name="msapplication-TileColor" content="#39caf0">
  <meta name="msapplication-TileImage" content="../images/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="../images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!--Fuentes de pagina-->
  <!--Fuente uno-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <!--Fuente dos-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  <!-- Iconos y estilos-->
  <link rel="stylesheet" href="../libs/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/estilos.css"> <!--estilos.css siempre al final de head-->

</head>

<body>
  <!--INICIO ENCABEZADO-->
  <header class="encabezadoPageSuscOfert bg-dark vh-100 py-2 py-md-4 position-relative fondoCoverHeader">
    <section class="position-absolute top-50 start-50 translate-middle w-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 text-center text-white col-lg-4 ms-lg-auto">
            <img src="../images/Logos/LogoComputelematic.png" class="img-fluid" alt="Logo de empresa">
            <h2 class="display-4 fw-bold fontPersonalTitleHeader">Suscripción exitosa</h2>
            <p class="my-4 fontPersonalDescHeader">"Pronto recibirá una respuesta"</p>
            <div class="d-grid gap-2 d-sm-block ">
              <a href="../index.html" class="btn btn-primary me-sm-2 text-white">Volver a la página principal</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </header>
  <!--FINAL ENCABEZADO-->



  <!--Inicio pie de pagina-->
  <footer class="pieDePagina bg-dark pt-5 text-white">
    <div class="container">
      <div class="row text-center text-lg-start">
        <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
          <img src="../images/Logos/LogoComputelematic.png" width="80" higth="auto" alt="Logo de empresa">
          <ul class="list-unstyled my-4 fw-bold d-grid gap-2">
            <li><a href="mailto:info@computelematic.net">info@computelematic.website</a></li>
            <li><a
                href="https://api.whatsapp.com/send/?phone=573027462184&text=¡Hola!, vengo del sitio web Computelematic, desearía me pueda brindar más información"
                target="_blank">(+57)302 746 2184</a></li>
            <li><a
                href="https://api.whatsapp.com/send/?phone=573104278515&text=¡Hola!, vengo del sitio web Computelematic, desearía me pueda brindar más información"
                target="_blank">(+57)310 427 8515</a></li>
          </ul>
          <ul class="redesSociales list-inline">
            <li class="list-inline-item"><a href="https://www.facebook.com/COMPUTELEMATIC/" target="_blank"><i
                  class="bi bi-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="bi bi-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0 ms-lg-auto">
          <h5 class="fw-bold mb-4">Servicios</h5>
          <ul class="list-unstyled d-grid gap-2 ">
            <li><a href="#">Soporte técnico</a></li>
            <li><a href="#">Diseño gráfico</a></li>
            <li><a href="#">Programación</a></li>
            <li><a href="#">Marketing</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0">
          <h5 class="fw-bold mb-4">Nosotros</h5>
          <ul class="list-unstyled d-grid gap-2">
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Misión</a></li>
            <li><a href="#">Visión</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0">
          <h5 class="fw-bold mb-4">Contacto</h5>
          <ul class="list-unstyled d-grid gap-2">
            <li><a href="#">Cotización</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Foros</a></li>
            <li><a href="#">Chat</a></li>
          </ul>
        </div>
      </div>
      <p class="creditos mt-lg-4 mb-0 py-4 text-center text-muted small">Copyright 2023 computelematic.net. Todos los
        derechos reservados</p>
    </div>

  </footer>

  <!--Final pie de pagina-->
  <script src="../libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>