<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head th:replace="index :: head">
</head>

<body>
  <!--INICIO ENCABEZADO-->
  <header class="encabezadoPageSuscOfert bg-dark vh-100 py-2 py-md-4 position-relative fondoCoverHeader">
    <section class="position-absolute top-50 start-50 translate-middle w-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 text-center text-white col-lg-4 ms-lg-auto">
            <img th:src="@{/images/Logos/LogoComputelematic.png}" class="img-fluid" alt="Logo de empresa">
            <h2 class="display-4 fw-bold fontPersonalTitleHeader">Suscripción exitosa</h2>
            <p class="my-4 fontPersonalDescHeader">"Pronto recibirá una respuesta"</p>
            <div class="d-grid gap-2 d-sm-block ">
              <a th:href="@{/home}" class="btn btn-primary me-sm-2 text-white">Volver a la página principal</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </header>
  <!--FINAL ENCABEZADO-->



  <!--Inicio pie de pagina-->
  <footer th:replace="index :: footer">


  </footer>

  <!--Final pie de pagina-->
  <script type="text/javascript" th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>

</html>